// Add your own CSS here!
:root {
  --light: #faf8f8;
  --dark: #141021;
  --secondary: #d83f3f;
  --tertiary: #d47575;
  --visited: #caaaaa;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --highlight: #fef9c3 !important;
}

[saved-theme="dark"] {
  --light: #1e1e21 !important;
  --dark: #fbfffe !important;
  --secondary: #ee3b3b;
  --tertiary: #e48181;
  --visited: #9b8f8f;
  --gray: #d4d4d4 !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
  --highlight: #717157 !important;
}

::selection, mark, :root::target-text {
  background: var(--highlight);
  background-color: var(--highlight);
}